@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9e7f7;
  color: #78206e;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background: #78206e;
  color: white;
  padding: 0.75rem 1rem;
}

.header_title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.main {
  padding: 2rem 1rem;
  display: grid;
  gap: 1.75rem;
  box-sizing: border-box;
  place-content: center;
}

.button {
  display: inline-block;
  height: 2rem;
  padding: 1rem;
  background-color: #78206e;
  border-radius: 0.25rem;
  color: #f2cfee;
}

.mini-box {
  max-height: 175px;
  padding: 1.25rem;
  border: 4px solid #78206e;
  position: relative;
  border-radius: 0.75rem;
  box-sizing: border-box;
}

.sub-title {
  position: absolute;
  top: -1.1rem;
  left: 1rem;
  background-color: #f9e7f7;
  padding: 0 0.5rem;
  color: #78206e;
}

.viewer {
  display: block;
  width: 400px;
  height: 100%;
  border-radius: 0.3rem;
  box-sizing: border-box;
  border: 2px solid #9b909a;
  overflow: hidden;
}

.atribuicao {
  background: #78206e;
  color: white;
  text-align: center;
  padding: 0.75rem;
}

.atribuicao a {
  color: inherit;
}

.atribuicao a:hover {
  text-decoration: none;
  transition: 0.7s;
}

.other-title {
  font-size: 1.75rem;
  text-align: center;
}

@media (min-width: 768px) {
  .atribuicao {
    padding: 1.25rem;
  }
}
